* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
}

h1,
h2 {
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #475f45;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.section {
  height: 100vh;
}

.header__content {
  display: flex;
  justify-content: space-between;
}

.title {
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  font-size: 57px;
  line-height: 110%;
  text-transform: capitalize;
  color: #343d33;
  margin-bottom: 16px;
}

.subtitle {
  font-family: "Libre Baskerville", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 110%;
  text-transform: capitalize;
}

.header__content {
  display: flex;
}

.logo {
  border-radius: 50%;
  display: flex;
}

.logo__img {
  margin-right: 14px;
}

.logo__text {
  display: flex;
  flex-direction: column;
}

.logo__title {
  font-size: 23px;
  font-family: Roboto;
}

.logo__subtitle {
  font-size: 18px;
  font-family: Roboto;
}

.nav {
  display: flex;
  padding: 0 40px;
  padding: 20px 0px;
}

.nav__list {
  padding: 0 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__item {
  font-size: 14px;
  font-family: Roboto;
  margin-right: 40px;
}

.nav__item--border {
  color: #475f45;
  border: 1px solid #475f45;
  width: 169px;
  height: 46px;
  padding: 15px 30px;
}

.hero {
  height: 100Vh;
  padding: 10px 10px;

}

.header__content {
  margin-bottom: 150px;
}

.hero__content {
  display: flex;
  height: 100%;

}

.hero__column {
  width: 528px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.hero__desc {
  font-size: 25px;
  color: #414840;
  margin-bottom: 32px;
}

.hero__img-wrap {
  width: 478px;
  height: 660px;
  border: 5px solid gray;
  padding: 6px 10px;
  border-radius: 500px 500px 0px 0px;
  overflow: hidden;
}

.hero__img {
  width: 100%;
  height: 100%;
  border-radius: 500px 500px 0px 0px;
  object-fit: cover;
}

.btn {
  width: 185px;
  height: 56px;
  border: 1px solid #475f45;
  color: #475f45;
  text-align: center;
  padding: 20px 40px;
}

.btn--active {
  color: white;
  background-color: #475f45;
  margin-right: 16px;
}

.about {
  background-color: #343d33;
}

.about__container {
  display: flex;
  flex-wrap: wrap;
}

.about__top-img-wrap {
  width: 534px;
  height: 354px;
  overflow: hidden;
  margin-right: 89px;
  margin-top: 96px;
}

.about__top-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__desc {
  display: flex;
  flex-direction: column;
  color: white;
  margin-top: 96px;
}

.about__info {
  color: white;
  width: 401px;
  height: 120px;
  font-family: Roboto;
  margin-top: 32px;
}

.btn--white {
  color: white;
  border: 1px solid white;
}

.about__bottom-img-wrap {
  width: 100%;
  margin-top: 80px;
}

.news {}

.news__content {
  display: flex;

}

.news__link {
  color: #475F45;

}

.news__link::after {
  border: 1px solid black;
  background-image: url(/img/icon/arrow-right.png);


}

.news__item--big {
  display: flex;
  flex-direction: column;
}

.news__img-wrap {
  width: 236px;
  height: 151px;
  overflow: hidden;
}

.news__img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.news__item-desc {

  flex: 1;
}

.news__list {}

.news__item-title {
  font-weight: 400;
  color: #475F45;
  font-size: 23px;

}

.news__item-text {
  color: #414840;
  font-size: 16px;

}

.news__item-date {
  font-family: 'Roboto';
  color: #414840;
  font-size: 16px;
}

.news__item--big {
  width: 43%;
  flex-direction: column;
  margin-right: 51px;
}


.news__item--big .news__img-wrap {
  width: 100%;
  height: 333px;
 

}

.news__item-title {
  margin-bottom: 12px;
  font-weight: 400;
  color: #475F45;
  font-size: 23px;

}

.news__item-text {
  margin-bottom: 12px;
  color: #414840;
  font-size: 16px;
}

.news__item-date {
  font-family: 'Roboto';
  color: #414840;
  font-size: 16px;
}

.news__list {
  display: flex;
  flex-direction: column;
}

.news__item {
  display: flex;
  border-bottom: 1px solid black;
}
.news__item--big .news__item{
  border: none;
}